<section class="bg-client">
  <div class="container">
   
    <div
      class="slickSlider-box"
      style="overflow: hidden; max-width: 1140px; margin: 0 auto"
    >
      <div class="slickSlider-single">
        <div class="row px-lg-8">
          <div class="col-4 col-md-3 mx-auto">
            <img
              class="rounded-3 mx-auto img-fluid"
              src="/assets/images/client1.png"
              alt=""
            />
          </div>
          <div class="col-md-9 mt-4 mt-md-0 px-4 px-sm-3">
            <p class="lead">
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Iusto
              commodi unde vitae. Id voluptates rem laborum dolore facere
              cupiditate repudiandae vero suscipit harum aliquam. Ab nihil hic
              tenetur aliquid alias?
            </p>
            <h6 class="fs-0 mb-1 mt-4">Jorge Fernandes</h6>
            <p class="mb-0 text-500">Análise de tecnologia</p>
          </div>
        </div>
        <!--row-->
      </div>
      <!--slickSlider-single-->

      <div class="slickSlider-single">
        <div class="row px-lg-8">
          <div class="col-4 col-md-3 mx-auto">
            <img
              class="rounded-3 mx-auto img-fluid"
              src="/assets/images/client2.png"
              alt=""
            />
          </div>
          <div class="col-md-9 mt-4 mt-md-0 px-4 px-sm-3">
            <p class="lead">
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Iusto
              commodi unde vitae. Id voluptates rem laborum dolore facere
              cupiditate repudiandae vero suscipit harum aliquam. Ab nihil hic
              tenetur aliquid alias?
            </p>
            <h6 class="fs-0 mb-1 mt-4">Elisabeth Montana</h6>
            <p class="mb-0 text-500">Gerente de projecto</p>
          </div>
        </div>
        <!--row-->
      </div>
      <!--slickSlider-single-->

      <div class="slickSlider-single">
        <div class="row px-lg-8">
          <div class="col-4 col-md-3 mx-auto">
            <img
              class="rounded-3 mx-auto img-fluid"
              src="/assets/images/client3.png"
              alt=""
            />
          </div>
          <div class="col-md-9 mt-4 mt-md-0 px-4 px-sm-3">
            <p class="lead">
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Iusto
              commodi unde vitae. Id voluptates rem laborum dolore facere
              cupiditate repudiandae vero suscipit harum aliquam. Ab nihil hic
              tenetur aliquid alias?
            </p>
            <h6 class="fs-0 mb-1 mt-4">Herick Morack</h6>
            <p class="mb-0 text-500">Engenheiro de dados</p>
          </div>
        </div>
        <!--row-->
      </div>
      <!--slickSlider-single-->
    </div>
    <!--slickSlider-box-->
  </div>
</section>
