<section class="bg-meta">
    <div class="container">
      <div class="d-flex">
        <span
          ><img src="/assets/images/checkmark.png" style="width: 55px" alt=""
        /></span>
        <div class="flex-1 sizing-font">
          <h2 class="text-warning">
            Pegue a etapa certa <br /><span class="text-white">
              Grande Coisa</span
            >
          </h2>
        </div>
      </div>
      <div class="row mt-4 pe-lg-10">
        <div class="col-md-3">
          <div class="mb-0 fw-bold text-white mt-lg-5 mt-3 lh-xs">52</div>
          <h6 class="text-white">Casos Resolvidos</h6>
        </div>

        <div class="col-lg-3">
          <div class="mb-0 fw-bold text-white mt-lg-5 mt-3 lh-xs">164</div>
          <h6 class="text-white">Treinados</h6>
        </div>

        <div class="col-md-3">
          <div class="mb-0 fw-bold text-white mt-lg-5 mt-3 lh-xs">38</div>
          <h6 class="fs-0 text-white">Branches</h6>
        </div>

        <div class="col-lg-3">
          <div class="mb-0 fw-bold text-white mt-lg-5 mt-3 lh-xs">100</div>
          <h6 class="text-white">Clientes Satisfeitos</h6>
        </div>
      </div>
    </div>
  </section>