<div class="d-none d-sm-block d-md-block text-white fw-bold">
  <section class="signuser">
    <section class="container">
      <ul class="usernav">
        <li><a href="/register">Criar Conta</a></li>
        <li><a href="/login">Entrar</a></li>
      </ul>
    </section>
    <!--container-->
    <div class="clear"></div>
  </section>
  <!--signuer-->
</div>

<section class="sticky-top backgr">
  <section class="container">
    <div class="d-flex justify-content-between align-items-center">
      <div class="logo">
        <a href="/"><img src="/assets/images/logo.png" alt="logo" /></a>
      </div>
      <!--logo-->

      <div class="menu-desktop">
        <ul class="align">
          <li><a href="/service">Serviços</a></li>
          <li><a href="/alumi">Alumi</a></li>
          <li><a href="/about">Sobre</a></li>
          <li><a href="/contact">Contacto</a></li>
        </ul>
      </div>
      <!--menu-desktop-->

      <div class="menu-mobile">
        <div class="navigation">
          <div class="toggle">
            <span></span>
          </div>
          <ul class="menu">
            <li style="--i: 0"><a href="/register">Criar Conta</a></li>
            <li style="--i: 1"><a href="/login">Login</a></li>
            <li style="--i: 2"><a href="/service">Serviços</a></li>
            <li style="--i: 5"><a href="/alumi">Alumi</a></li>
            <li style="--i: 3"><a href="/about">Sobre</a></li>
            <li style="--i: 4"><a href="/contact">Contacto</a></li>
          </ul>
        </div>
      </div>
      <!--menu-desktop-->
    </div>
    <!--navigation-->
  </section>
  <!--container-->
</section>
<!--backgr-->
