<section class="bg-staff text-center">
  <div class="container">
    <div class="justify-content-center mb-5 text-center">
      <h4 class="fs-3 fs-md-2">Por que escolher o Event</h4>
      <span class="short"></span>
    </div>

    <div class="row">
      <div class="col-sm-6 col-lg-4">
        <div class="card h-100">
          <img class="card-img-top" src="/assets/images/worker1.jpg" alt="" />
          <div class="card-body">
            <div class="texts">
              <h5>Arthur Gabriel</h5>
            <h6 class="fw-normal text-500 mt-2">Economista</h6>
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Odio
              exercitationem harum non consectetur eius nam aspernatur ab
              ducimus, et velit, officia obcaecati, sequi fugiat. Neque
              perspiciatis distinctio in error rerum!
            </p>
            </div> <!--texts-->
            
          </div>
        </div>
      </div>

      <div class="col-sm-6 col-lg-4 mt-4 mt-sm-0">
        <div class="card h-100">
          <img class="card-img-top" src="/assets/images/worker2.jpg" alt="" />
          <div class="card-body">
            <div class="texts">
              <h5>Geraldy Momade </h5>
            <h6 class="fw-normal text-500 mt-2">Gerente de Projecto</h6>
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Odio
              exercitationem harum non consectetur eius nam aspernatur ab
              ducimus, et velit, officia obcaecati, sequi fugiat. Neque
              perspiciatis distinctio in error rerum!
            </p>
            </div> <!--texts-->
            
          </div>
        </div>
      </div>

      <div class="col-sm-6 col-lg-4 mt-4 mt-lg-0">
        <div class="card h-100">
          <img class="card-img-top" src="/assets/images/worker3.jpg" alt="" />
          <div class="card-body">

            <div class="texts">
              <h5>Benjamin Brendom</h5>
              <h6 class="fw-normal text-500 mt-2">Analista de finanças</h6>
              <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Odio
                exercitationem harum non consectetur eius nam aspernatur ab
                ducimus, et velit, officia obcaecati, sequi fugiat. Neque
                perspiciatis distinctio in error rerum!
              </p>
            </div> <!--texts-->
           
          </div>
        </div>
      </div>

      <div class="col-sm-6 col-lg-4 mt-4">
        <div class="card h-100">
          <img class="card-img-top" src="/assets/images/worker4.jpg" alt="" />
          <div class="card-body">

            <div class="texts">
              <h5>Coraline Patrick</h5>
              <h6>Gestão de Tecnologia da Informação</h6>
              <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Odio
                exercitationem harum non consectetur eius nam aspernatur ab
                ducimus, et velit, officia obcaecati, sequi fugiat. Neque
                perspiciatis distinctio in error rerum!
              </p>  
            </div> <!--texts-->
            
          </div>
        </div>
      </div>

      <div class="col-sm-6 col-lg-4 mt-4">
        <div class="card h-100">
          <img class="card-img-top" src="/assets/images/worker5.jpg" alt="" />
          <div class="card-body">

            <div class="texts">
              <h5>Oliver Wagner</h5>
              <h6 class="fw-normal text-500 mt-2">Segurança da informação</h6>
              <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Odio
                exercitationem harum non consectetur eius nam aspernatur ab
                ducimus, et velit, officia obcaecati, sequi fugiat. Neque
                perspiciatis distinctio in error rerum!
              </p>
            </div> <!--texts-->

           
          </div>
        </div>
      </div>

      <div class="col-sm-6 col-lg-4 mt-4">
        <div class="card h-100">
          <img class="card-img-top" src="/assets/images/worker6.jpg" alt="" />
          <div class="card-body">

            <div class="texts">
              <h5>Anthony Dylan</h5>
              <h6 class="fw-normal text-500 mt-2">Contabilista</h6>
              <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Odio
                exercitationem harum non consectetur eius nam aspernatur ab
                ducimus, et velit, officia obcaecati, sequi fugiat. Neque
                perspiciatis distinctio in error rerum!
              </p>
            </div> <!--texts-->
            
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
