<%- include('includes/header') %> <%- include('includes/navbar') %>

<main class="main" id="top">
  <div class="just">
    <div class="bg-holder imgBackground overlay"></div>
  </div>
  <section class="bg-contact">
    <div class="container">
      <div class="row align-items-stretch justify-content-center mb-4">
        <div class="col-lg-4 mb-4 mb-lg-0">
          <div class="card h-100">
            <div class="card-body px-5">
              <h5 class="mb-3">Nampula-Cidade</h5>
              <p class="mb-0 text-1100">
                Nampula, <br />Nacala,
                <br />
                Namialo
              </p>
            </div>
          </div>
        </div>

        <div class="col-lg-4 mb-4 mb-lg-0">
          <div class="card h-100">
            <div class="card-body px-5">
              <h5 class="mb-3">Maputo</h5>
              <p class="mb-0 text-1100">
                Matola, <br />Mahiça,
                <br />
                Vilanculos
              </p>
            </div>
          </div>
        </div>

        <div class="col-lg-4 mb-4 mb-lg-0">
          <div class="card h-100">
            <div class="card-body px-5">
              <h5 class="mb-3">Social</h5>
              <a class="d-inline-block mt-2" href="#">
                <svg
                  viewBox="0 0 512 512"
                  xml:space="preserve"
                  xmlns="http://www.w3.org/2000/svg"
                  fill-rule="evenodd"
                  clip-rule="evenodd"
                  stroke-linejoin="round"
                  stroke-miterlimit="2"
                >
                  <path
                    d="M449.446 0C483.971 0 512 28.03 512 62.554v386.892C512 483.97 483.97 512 449.446 512H62.554C28.03 512 0 483.97 0 449.446V62.554C0 28.03 28.029 0 62.554 0h386.892ZM160.461 423.278V197.561h-75.04v225.717h75.04Zm270.539 0V293.839c0-69.333-37.018-101.586-86.381-101.586-39.804 0-57.634 21.891-67.617 37.266v-31.958h-75.021c.995 21.181 0 225.717 0 225.717h75.02V297.222c0-6.748.486-13.492 2.474-18.315 5.414-13.475 17.767-27.434 38.494-27.434 27.135 0 38.007 20.707 38.007 51.037v120.768H431ZM123.448 88.722C97.774 88.722 81 105.601 81 127.724c0 21.658 16.264 39.002 41.455 39.002h.484c26.165 0 42.452-17.344 42.452-39.002-.485-22.092-16.241-38.954-41.943-39.002Z"
                    fill="#2a3855"
                    class="fill-000000"
                  ></path>
                </svg>
              </a>
              <a class="d-inline-block mt-2" href="#">
                <svg
                  viewBox="0 0 512 512"
                  xml:space="preserve"
                  xmlns="http://www.w3.org/2000/svg"
                  fill-rule="evenodd"
                  clip-rule="evenodd"
                  stroke-linejoin="round"
                  stroke-miterlimit="2"
                >
                  <path
                    d="M449.446 0C483.971 0 512 28.03 512 62.554v386.892C512 483.97 483.97 512 449.446 512H62.554C28.03 512 0 483.97 0 449.446V62.554C0 28.03 28.029 0 62.554 0h386.892ZM195.519 424.544c135.939 0 210.268-112.643 210.268-210.268 0-3.218 0-6.437-.153-9.502 14.406-10.421 26.973-23.448 36.935-38.314-13.18 5.824-27.433 9.809-42.452 11.648 15.326-9.196 26.973-23.602 32.49-40.92-14.252 8.429-30.038 14.56-46.896 17.931-13.487-14.406-32.644-23.295-53.946-23.295-40.767 0-73.87 33.104-73.87 73.87 0 5.824.613 11.494 1.992 16.858-61.456-3.065-115.862-32.49-152.337-77.241-6.284 10.881-9.962 23.601-9.962 37.088a73.57 73.57 0 0 0 32.95 61.456c-12.107-.307-23.448-3.678-33.41-9.196v.92c0 35.862 25.441 65.594 59.311 72.49a73.66 73.66 0 0 1-19.464 2.606c-4.751 0-9.348-.46-13.946-1.38 9.349 29.426 36.628 50.728 68.965 51.341-25.287 19.771-57.164 31.571-91.8 31.571-5.977 0-11.801-.306-17.625-1.073 32.337 21.15 71.264 33.41 112.95 33.41Z"
                    fill="#2a3855"
                    class="fill-000000"
                  ></path>
                </svg>
              </a>
              <a class="d-inline-block mt-2" href="#">
                <svg viewBox="0 0 6.35 6.35" xmlns="http://www.w3.org/2000/svg">
                  <path
                    d="M1.058 234.105c-.586 0-1.058.472-1.058 1.058v4.233c0 .587.472 1.059 1.058 1.059h4.234c.586 0 1.058-.472 1.058-1.059v-4.233c0-.586-.472-1.058-1.058-1.058zm.795 1.058h2.644c.435 0 .795.358.795.793v2.647c0 .435-.36.792-.795.792H1.853a.798.798 0 0 1-.795-.792v-2.647c0-.435.36-.793.795-.793zm0 .53a.258.258 0 0 0-.266.263v2.647c0 .15.114.263.266.263h2.644a.259.259 0 0 0 .266-.263v-2.647a.259.259 0 0 0-.266-.263zm2.38.264a.265.265 0 0 1 .265.264.265.265 0 0 1-.265.265.265.265 0 0 1-.264-.265.265.265 0 0 1 .264-.264zm-1.058.265c.581 0 1.058.477 1.058 1.058 0 .582-.477 1.06-1.058 1.06a1.063 1.063 0 0 1-1.059-1.06c0-.581.478-1.058 1.059-1.058zm0 .53a.526.526 0 0 0-.53.528c0 .296.235.53.53.53.295 0 .53-.234.53-.53a.525.525 0 0 0-.53-.529zM1.058 290.65c-.586 0-1.058.472-1.058 1.058v4.234C0 296.528.472 297 1.058 297h4.234c.586 0 1.058-.472 1.058-1.058v-4.234c0-.586-.472-1.058-1.058-1.058zm1.392 1.915c.335 0 .655.133.891.37l-.356.356a.756.756 0 1 0 .18.786H2.45v-.504h1.26v.252c0 .693-.567 1.26-1.26 1.26-.692 0-1.26-.567-1.26-1.26 0-.693.568-1.26 1.26-1.26zm1.932.59h.359v.418h.418v.36h-.418v.418h-.36v-.419h-.418v-.36h.419z"
                    transform="translate(0 -290.65)"
                    opacity="1"
                    fill="#2a3855"
                    fill-opacity="1"
                    stroke="none"
                    stroke-width=".26458335"
                    stroke-linecap="butt"
                    stroke-linejoin="miter"
                    stroke-miterlimit="4"
                    stroke-dasharray="none"
                    stroke-dashoffset="0"
                    stroke-opacity="1"
                    class="fill-333333"
                  ></path>
                </svg>
              </a>
              <a class="d-inline-block mt-2" href="#">
                <svg
                  viewBox="0 0 512 512"
                  xml:space="preserve"
                  xmlns="http://www.w3.org/2000/svg"
                  fill-rule="evenodd"
                  clip-rule="evenodd"
                  stroke-linejoin="round"
                  stroke-miterlimit="2"
                >
                  <path
                    d="M449.446 0C483.971 0 512 28.03 512 62.554v386.892C512 483.97 483.97 512 449.446 512H342.978V319.085h66.6l12.672-82.621h-79.272v-53.617c0-22.603 11.073-44.636 46.58-44.636H425.6v-70.34s-32.71-5.582-63.982-5.582c-65.288 0-107.96 39.569-107.96 111.204v62.971h-72.573v82.621h72.573V512H62.554C28.03 512 0 483.97 0 449.446V62.554C0 28.03 28.029 0 62.554 0h386.892Z"
                    fill="#2a3855"
                    class="fill-000000"
                  ></path>
                </svg>
              </a>
            </div>
          </div>
        </div>
      </div>

      <div class="card mb-4">
        <div class="card-body p-5 h-100">
          <div class="mapouter">
            <div class="gmap_canvas">
              <iframe
                class="gmap_iframe"
                width="100%"
                frameborder="0"
                scrolling="no"
                marginheight="0"
                marginwidth="0"
                src="https://maps.google.com/maps?width=1056&amp;height=500&amp;hl=en&amp;q=Nampula&amp;t=&amp;z=14&amp;ie=UTF8&amp;iwloc=B&amp;output=embed"
              ></iframe
              ><a href="https://strandsgame.net/">Strands Game</a>
            </div>
            <style>
              .mapouter {
                position: relative;
                text-align: right;
                width: 100%;
                height: 500px;
              }
              .gmap_canvas {
                overflow: hidden;
                background: none !important;
                width: 100%;
                height: 500px;
              }
              .gmap_iframe {
                height: 500px !important;
              }
            </style>
          </div>
        </div>
      </div>

      <div class="card">
        <div class="card-body h-100 p-5">
          <h5 class="mb-3">Escreva Para nos</h5>

          <form class="contactForm" action="">
            <div class="mb-4">
              <input
                class="form-control bg-white"
                type="text"
                placeholder="Seu nome"
                required
              />
            </div>

            <div class="mb-4">
              <input
                class="form-control bg-white"
                type="email"
                placeholder="Email"
                required
              />
            </div>

            <div class="mb-4">
              <textarea
                class="form-control"
                name=""
                id=""
                placeholder="Digite aqui sua descrição"
                rows="10"
              ></textarea>
            </div>

            <div class="mb-4">
              <button class="btn btn-md-lg btn-primary p-2 fw-bold contactbtn">
                Enviar
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
    <!--Container-->
  </section>
</main>

<%- include('includes/sectionInfo') %>
 <%-include('includes/footer') %>
