<%- include('includes/header') %> <%- include('includes/navbar') %>

<main role="main">
  <div class="container">
    <h1 class="mt-5">Política de Privacidade</h1>
    <p>Última atualização: 13 de novembro de 2022</p>
    <p>
        Esta Política de Privacidade descreve Nossas políticas e procedimentos sobre o
        coleta, uso e divulgação de suas informações quando você usa o
        Serviço e informa sobre Seus direitos de privacidade e como a lei protege
        Você.
    </p>
    <p>
        Usamos seus dados pessoais para fornecer e melhorar o serviço. Ao usar o
        Serviço, Você concorda com a coleta e uso de informações de acordo
        com esta Política de Privacidade. Esta Política de Privacidade foi
        criado com a ajuda do
      <a
        href="https://www.termsfeed.com/privacy-policy-generator/"
        target="_blank"
        >Termos Feed Política de Privacidade Generator</a
      >.
    </p>
    <h1>Interpretação e Definições</h1>
    <h2>Interpretação</h2>
    <p>
        As palavras cuja letra inicial é maiúscula têm significados definidos
        nas seguintes condições. As seguintes definições devem ter a
        mesmo significado, independentemente de aparecerem no singular ou no plural.
    </p>
    <h2>Definições</h2>
    <p>Para os fins desta Política de Privacidade:</p>
    <ul>
      <li>
        <p>
          <strong>Conta</strong> significa uma conta exclusiva criada para você
          acessar nosso Serviço ou partes de nosso Serviço.
        </p>
      </li>
      <li>
        <p>
          <strong>Company</strong> (referred to as either &quot;the
          Company&quot;, &quot;We&quot;, &quot;Us&quot; or &quot;Our&quot; dentro
          este Contrato) refere-se a Consultoria , Nampula, Cidade Nampula, 3100.
        </p>
      </li>
      <li>
        <p>
          <strong>Cookies</strong> são pequenos arquivos que são colocados em Seu
          computador, dispositivo móvel ou qualquer outro dispositivo por um site, contendo
          os detalhes de seu histórico de navegação nesse site entre seus muitos
          usa.
        </p>
      </li>
      <li>
        <p><strong>País</strong> refere-se a: Moçambique</p>
      </li>
      <li>
        <p>
          <strong>Dispositivo</strong> significa qualquer dispositivo que possa acessar o Serviço
          como um computador, um celular ou um tablet digital.
        </p>
      </li>
      <li>
        <p>
          <strong>Dados pessoais</strong> é qualquer informação relacionada a um
          pessoa identificada ou identificável.
        </p>
      </li>
      <li>
        <p><strong>Serviço</strong> refere-se ao site.</p>
      </li>
      <li>
        <p>
          <strong>Provedor de serviço</strong> significa qualquer pessoa singular ou colectiva
          quem processa os dados em nome da Empresa. Isso se refere a
          empresas terceirizadas ou indivíduos empregados pela Empresa para
          facilitar o Serviço, fornecer o Serviço em nome do
          Empresa, para realizar serviços relacionados ao Serviço ou para auxiliar o
          Empresa na análise de como o Serviço é usado.
        </p>
      </li>
      <li>
        <p>
          <strong>Dados de uso</strong> refere-se a dados coletados automaticamente,
          seja gerado pelo uso do Serviço ou do Serviço
          infraestrutura em si (por exemplo, a duração de uma visita à página).
        </p>
      </li>
      <li>
        <p>
          <strong>Website</strong> refere-se ao Event Enterprise, acessível a partir
          <a
            href="https://www.evententerprise.tech"
            rel="external nofollow noopener"
            target="_blank"
            >https://www.evententerprise.tech</a
          >
        </p>
      </li>
      <li>
        <p>
          <strong>você</strong> significa que o indivíduo acessando ou usando o
          Serviço, ou a empresa, ou outra entidade legal em nome da qual tal
          indivíduo está acessando ou usando o Serviço, conforme aplicável.
        </p>
      </li>
    </ul>
    <h1>Coletando e usando seus dados pessoais</h1>
    <h2>Tipos de dados coletados</h2>
    <h3>Dados pessoais</h3>
    <p>
        Ao usar nosso Serviço, podemos solicitar que você nos forneça determinadas
        informações de identificação pessoal que podem ser usadas para entrar em contato ou
        identificar você. As informações de identificação pessoal podem incluir, mas não são
        limitado a:
    </p>
    <ul>
      <li>
        <p>Endereço de email</p>
      </li>
      <li>
        <p>Número de telefone</p>
      </li>
      <li>
        <p>Endereço, Estado, Província, CEP/Código Postal, Cidade</p>
      </li>
      <li>
        <p>Dados de uso</p>
      </li>
    </ul>
    <h3>Dados de uso</h3>
    <p>Os Dados de Uso são coletados automaticamente ao usar o Serviço.</p>
    <p>
        Os Dados de Uso podem incluir informações como o Protocolo de Internet do Seu Dispositivo
        endereço (por exemplo, endereço IP), tipo de navegador, versão do navegador, as páginas do nosso
        Serviço que Você visita, a hora e a data de Sua visita, o tempo gasto em
        essas páginas, identificadores exclusivos de dispositivos e outros dados de diagnóstico.
    </p>
    <p>
        Quando você acessa o Serviço por ou por meio de um dispositivo móvel, podemos coletar
        certas informações automaticamente, incluindo, mas não se limitando ao tipo
        do dispositivo móvel que você usa, o ID exclusivo do seu dispositivo móvel, o endereço IP do
        Seu dispositivo móvel, seu sistema operacional móvel, o tipo de celular
        Navegador da Internet que você usa, identificadores exclusivos de dispositivo e outros diagnósticos
        dados.
    </p>
    <p>
        Também podemos coletar informações que seu navegador envia sempre que você visita
        nosso Serviço ou quando você acessa o Serviço por ou por meio de um dispositivo móvel.
    </p>
    <h3>Tecnologias de rastreamento e cookies</h3>
    <p>
        Usamos cookies e tecnologias de rastreamento semelhantes para rastrear a atividade em
        Nosso Serviço e armazenar determinadas informações. As tecnologias de rastreamento usadas são
        beacons, tags e scripts para coletar e rastrear informações e melhorar
        e analisar Nosso Serviço. As tecnologias que usamos podem incluir:
    </p>
    <ul>
      <li>
        <strong>Cookies or Browser Cookies.</strong> Um cookie é um pequeno arquivo
        colocado em seu dispositivo. Você pode instruir seu navegador a recusar todos os
        Cookies ou para indicar quando um Cookie está sendo enviado. No entanto, se você fizer
        não aceitar cookies, você pode não conseguir usar algumas partes de nosso
        Serviço. A menos que você tenha ajustado a configuração do seu navegador para que
        recusar Cookies, nosso Serviço pode usar Cookies.
      </li>
      <li>
        <strong>Web Beacons.</strong> Certas seções de nosso Serviço e nossa
        e-mails podem conter pequenos arquivos eletrônicos conhecidos como web beacons (também
        conhecidos como gifs claros, tags de pixel e gifs de pixel único) que
        permitir que a Empresa, por exemplo, conte os usuários que visitaram esses
        páginas ou abriu um e-mail e para outras estatísticas de sites relacionados (por
        exemplo, registrando a popularidade de uma determinada seção e verificando
        integridade do sistema e do servidor).
      </li>
    </ul>
    <p>
      Cookies pode ser &quot;Persistente&quot; ou &quot;Sessão&quot; Cookies.
      Os cookies persistentes permanecem em seu computador pessoal ou dispositivo móvel quando
      Você fica offline, enquanto os Cookies de sessão são excluídos assim que você fecha
      Seu navegador. Você pode aprender mais sobre cookies em
      <a
        href="https://www.termsfeed.com/blog/cookies/#What_Are_Cookies"
        target="_blank"
        >Terms Feed website</a
      >
      artigo.
    </p>
    <p>
        Usamos Cookies de Sessão e Persistentes para os fins descritos abaixo:
    </p>
    <ul>
      <li>
        <p><strong>Cookies Necessários / Essenciais</strong></p>
        <p>Tipo: Cookies de sessão</p>
        <p>Administrado por: Nós</p>
        <p>
            Finalidade: Esses cookies são essenciais para fornecer serviços
            disponível através do site e para permitir que você use alguns de seus
            recursos. Eles ajudam a autenticar usuários e evitar o uso fraudulento
            de contas de usuário. Sem esses cookies, os serviços que você tem
            solicitados não podem ser fornecidos, e só usamos esses cookies para fornecer
            Você com esses serviços.
        </p>
      </li>
      <li>
        <p><strong>Política de Cookies / Cookies de Aceitação de Avisos</strong></p>
        <p>Tipo: Cookies persistentes</p>
        <p>Administrado por: Nós</p>
        <p>
            Finalidade: Esses Cookies identificam se os usuários aceitaram o uso de
            cookies no Site.
        </p>
      </li>
      <li>
        <p><strong>Cookies de funcionalidade</strong></p>
        <p>Tipo: Cookies persistentes</p>
        <p>Administrado por: Nós</p>
        <p>
          Purpose: These Cookies allow us to remember choices You make when You
          use the Website, such as remembering your login details or language
          preference. The purpose of these Cookies is to provide You with a more
          personal experience and to avoid You having to re-enter your
          preferences every time You use the Website.
        </p>
      </li>
    </ul>
    <p>
        Finalidade: Esses cookies nos permitem lembrar as escolhas que você faz quando
        usar o site, como lembrar seus detalhes de login ou idioma
        preferência. O objetivo desses cookies é fornecer a você uma experiência mais
        experiência pessoal e para evitar que você tenha que reentrar no seu
        preferências cada vez que você usa o site.
    </p>
    <h2>Uso de seus dados pessoais</h2>
    <p>A Empresa pode usar os Dados Pessoais para os seguintes fins:</p>
    <ul>
      <li>
        <p>
          <strong>Para fornecer e manter nosso Serviço</strong>, incluindo para
          monitorar o uso do nosso Serviço.
        </p>
      </li>
      <li>
        <p>
          <strong>Para gerenciar sua conta:</strong> Para gerenciar sua conta:
        </p>
      </li>
      <li>
        <p>
          <strong>Para a execução de um contrato:</strong> o desenvolvimento,
          cumprimento e cumprimento do contrato de compra dos produtos,
          itens ou serviços que você comprou ou de qualquer outro contrato conosco
          através do Serviço.
        </p>
      </li>
      <li>
        <p>
          <strong>Para entrar em contato com você:</strong> Para entrar em contato com você por e-mail, telefone
          chamadas, SMS ou outras formas equivalentes de comunicação eletrônica,
          como notificações push de um aplicativo móvel sobre atualizações ou
          comunicações informativas relacionadas com as funcionalidades, produtos ou
          serviços contratados, incluindo as atualizações de segurança, quando necessário ou
          razoável para sua implementação.
        </p>
      </li>
      <li>
        <p>
          <strong>Para fornecer a você</strong> com novidades, ofertas especiais e
          informações sobre outros bens, serviços e eventos que oferecemos que
          são semelhantes aos que você já comprou ou perguntou sobre
          a menos que você tenha optado por não receber tais informações.
        </p>
      </li>
      <li>
        <p>
          <strong>Para gerenciar suas solicitações:</strong> Para participar e gerenciar seu
          pedidos para Nós.
        </p>
      </li>
      <li>
        <p>
          <strong>Para transferências empresariais:</strong>Podemos usar suas informações
          para avaliar ou conduzir uma fusão, alienação, reestruturação,
          reorganização, dissolução ou outra venda ou transferência de alguns ou todos
          de Nossos ativos, seja em continuidade ou como parte de falência,
          liquidação, ou processo similar, em que os Dados Pessoais detidos por Nós
          sobre nossos usuários do Serviço está entre os ativos transferidos.
        </p>
      </li>
      <li>
        <p>
          <strong>Para outros fins</strong>: Podemos usar Suas informações para
          outros fins, como análise de dados, identificação de tendências de uso,
          determinar a eficácia de nossas campanhas promocionais e
          avaliar e melhorar nosso Serviço, produtos, serviços, marketing e
          sua experiência.
        </p>
      </li>
    </ul>
    <p>Podemos compartilhar suas informações pessoais nas seguintes situações:</p>
    <ul>
      <li>
        <strong>Com Prestadores de Serviços:</strong> Podemos compartilhar suas informações pessoais
        informações com os Provedores de Serviços para monitorar e analisar o uso de nossos
        Serviço, para entrar em contato com você.
      </li>
      <li>
        <strong>Para transferências empresariais:</strong> We may share or transfer Your
        personal information in connection with, or during negotiations of, any
        merger, sale of Company assets, financing, or acquisition of all or a
        portion of Our business to another company.
      </li>
      <li>
        <strong>Com Afiliados:</strong> Podemos compartilhar suas informações com nossos
        afiliadas, caso em que exigiremos que essas afiliadas honrem este
        Política de Privacidade. As afiliadas incluem Nossa empresa-mãe e qualquer
        outras subsidiárias, parceiros de joint venture ou outras empresas que Nós
        controle ou que estão sob controle comum conosco.
      </li>
      <li>
        <strong>Com parceiros de negócios:</strong> Podemos compartilhar suas informações
        com Nossos parceiros de negócios para oferecer a Você determinados produtos, serviços ou
        promoções.
      </li>
      <li>
        <strong>Com outros usuários:</strong> quando você compartilha informações pessoais
        ou interagir nas áreas públicas com outros usuários, como
        informações podem ser vistas por todos os usuários e podem ser distribuídas publicamente
        fora.
      </li>
      <li>
        <strong>Com seu consentimento</strong>:Podemos divulgar Seu pessoal
        informações para qualquer outro propósito com o Seu consentimento.
      </li>
    </ul>
    <h2>Retenção de seus dados pessoais</h2>
    <p>
        A Empresa reterá Seus Dados Pessoais apenas enquanto for
        necessários para os fins estabelecidos nesta Política de Privacidade. Nós
        reterá e usará Seus Dados Pessoais na medida necessária para cumprir
        com nossas obrigações legais (por exemplo, se formos obrigados a reter seu
        dados para cumprir as leis aplicáveis), resolver disputas e fazer cumprir nossos
        acordos e políticas legais.
    </p>
    <p>
        The Company will also retain Usage Data for internal analysis purposes.
        Usage Data is generally retained for a shorter period of time, except when
        this data is used to strengthen the security or to improve the
        functionality of Our Service, or We are legally obligated to retain this
        data for longer time periods.
    </p>
    <h2>Transferência de seus dados pessoais</h2>
    <p>
        Suas informações, incluindo Dados Pessoais, são processadas na sede da Empresa
        escritórios operacionais e em quaisquer outros locais onde as partes envolvidas no
        o processamento estão localizados. Isso significa que essas informações podem ser
        transferido para - e mantido em - computadores localizados fora de Seu
        estado, província, país ou outra jurisdição governamental onde os dados
        as leis de proteção podem diferir daquelas de sua jurisdição.
    </p>
    <p>
        Seu consentimento para esta Política de Privacidade seguido de Seu envio
        de tais informações representa a sua concordância com essa transferência.
    </p>
    <p>
        A Empresa tomará todas as medidas razoavelmente necessárias para garantir que Sua
        dados são tratados de forma segura e de acordo com esta Política de
        Privacidade e nenhuma transferência de Seus Dados Pessoais ocorrerá para um
        organização ou um país, a menos que haja controles adequados em vigor
        incluindo a segurança de seus dados e outras informações pessoais.
    </p>
    <h2>Excluir seus dados pessoais</h2>
    <p>
        Você tem o direito de excluir ou solicitar que ajudemos a excluir o
        Dados pessoais que coletamos sobre você.
    </p>
    <p>
        Nosso Serviço pode dar a Você a capacidade de excluir certas informações sobre
        Você de dentro do Serviço.
    </p>
    <p>
        Você pode atualizar, alterar ou excluir suas informações a qualquer momento assinando
        em sua conta, se você tiver uma, e visitando as configurações da conta
        seção que permite que você gerencie suas informações pessoais. Voce pode tambem
        entre em contato conosco para solicitar acesso, corrigir ou excluir qualquer
        informações que Você nos forneceu.
    </p>
    <p>
        Observe, no entanto, que podemos precisar reter certas informações quando
        temos uma obrigação legal ou base legal para fazê-lo.
    </p>
    <h2>Divulgação de seus dados pessoais</h2>
    <h3>Business Transactions</h3>
    <p>
        Se a Empresa estiver envolvida em uma fusão, aquisição ou venda de ativos, Sua
        Os Dados Pessoais podem ser transferidos. Nós forneceremos um aviso antes do Seu
        Os Dados Pessoais são transferidos e ficam sujeitos a uma Política diferente
        de Privacidade.
    </p>
    <h3>Aplicação da lei</h3>
    <p>
        Sob certas circunstâncias, a Empresa pode ser obrigada a divulgar Sua
        Dados Pessoais, se exigido por lei ou em resposta a solicitações válidas
        por autoridades públicas (por exemplo, um tribunal ou uma agência governamental).
    </p>
    <h3>Outros requisitos legais</h3>
    <p>
        A Empresa pode divulgar Seus Dados Pessoais na crença de boa fé de que
        tal ação é necessária para:
    </p>
    <ul>
      <li>Cumprir uma obrigação legal</li>
      <li>Proteger e defender os direitos ou propriedade da Empresa</li>
      <li>
        Prevenir ou investigar possíveis irregularidades relacionadas com a
        Serviço
      </li>
      <li>Proteger a segurança pessoal dos Usuários do Serviço ou do público</li>
      <li>Proteja-se contra responsabilidade legal</li>
    </ul>
    <h2>Segurança de seus dados pessoais</h2>
    <p>
        A segurança dos Seus Dados Pessoais é importante para Nós, mas lembre-se que
        nenhum método de transmissão pela Internet, ou método de transmissão eletrônica
        armazenamento é 100% seguro. Embora nos esforcemos para usar comercialmente aceitáveis
        meios para proteger seus dados pessoais, não podemos garantir sua absoluta
        segurança.
    </p>
    <h1>Privacidade infantil</h1>
    <p>
        Nosso Serviço não atende a menores de 13 anos.
        coletar intencionalmente informações de identificação pessoal de qualquer pessoa sob
        a idade de 13 anos. Se Você for pai ou responsável e estiver ciente de que Seu
        criança nos forneceu Dados Pessoais, entre em contato conosco. Se nos tornarmos
        ciente de que coletamos Dados Pessoais de menores de 13 anos
        sem verificação do consentimento dos pais, tomamos medidas para remover esse
        informações de nossos servidores.
    </p>
    <p>
        Se precisarmos confiar no consentimento como base legal para processar o Seu
        informações e seu país requer o consentimento de um dos pais, podemos
        exigir o consentimento de seus pais antes de coletarmos e usarmos essas informações.
    </p>
    <h1>Links para outros sites</h1>
    <p>
        Nosso Serviço pode conter links para outros sites que não são operados por
        Nós. Se você clicar em um link de terceiros, você será direcionado para esse terceiro
        site da festa. Recomendamos fortemente que você revise a Política de Privacidade
        de cada site que você visita.
    </p>
    <p>
        Não temos controle e não assumimos responsabilidade pelo conteúdo,
        políticas de privacidade ou práticas de quaisquer sites ou serviços de terceiros.
    </p>
    <h1>Alterações a esta Política de Privacidade</h1>
    <p>
        Podemos atualizar nossa Política de Privacidade de tempos em tempos. Nós vamos
        notificá-lo sobre quaisquer alterações publicando a nova Política de Privacidade em
        esta página.
    </p>
    <p>
        Nós o informaremos por e-mail e/ou um aviso em destaque em Nosso Serviço,
        antes da mudança entrar em vigor e atualizar o &quot;Último
        Atualizada&quot; data no topo desta Política de Privacidade.
    </p>
    <p>
        Você é aconselhado a revisar esta Política de Privacidade periodicamente para
        quaisquer alterações. As alterações a esta Política de Privacidade são efetivas quando
        eles são postados nesta página.
    </p>
    <h1>Contate-nos</h1>
    <p>
        Se você tiver alguma dúvida sobre esta Política de Privacidade, você pode
        Contate-Nos:
    </p>
    <ul>
      <li>Por email: anselmoahmed@gmail.com</li>
    </ul>
  </div>
</main>
<%- include('includes/sectionInfo') %> <%- include('includes/footer') %>
