<%- include('includes/header') %>

<main class="main">

    <section class="text-center py-0">
        <div class="bg-image_register bg-holder overlay overlay-1"> 
        
        
        </div>
        <div class="container">
            <div class="row min-vh-100 align-items-center">
                <div class="col-md-9 col-lg-6 mx-auto" style="z-index: 50;">
                    <div class="mb-3">
                        <a href="/"><img src="/assets/images/logo.png" alt="logo"></a>
                    </div>
                  

                    <div class="card">

                        <%- include('includes/messagesViewSuccess'); %>

                        <div class="card-body p-md-3">
                            <div class="text-uppercase primary mt-3 fs-0 fs-md-1">
                                <h4>crie sua conta no event</h4>
                            </div>

                            <form class="text-start regist mt-4" method="post" action="/register/user">
                                <div class="row align-items-center g-4">
                                    <input type="hidden" name="_csrf" value="<%=csrfToken %>">
                                    <div class="col-6">
                                     <input type="text" class="form-control" name="firstname" placeholder="Primeiro Nome" aria-label="Primeiro Nome">
                                    </div>
                                    <div class="col-6">
                                        <input type="text" class="form-control" name="lastname" placeholder="Sobrenome" aria-label="Sobrenome">
                                    </div>

                                    <div class="col-12">
                                        <input type="email" class="form-control" name="email" required placeholder="Endereço Email" aria-label="Endreço Email">
                                    </div>

                                    <div class="col-12">
                                        <input type="text" class="form-control" name="password" placeholder="Password" aria-label="Password">
                                    </div>

                                </div>

                                <div class="col-6 mt-4">
                                    <button class="btn btn-primary w-70">Cadastrar</button>
                                </div>

                                <div class="row align-items-center mb-4 mt-3">
                                    <div class="col-12 mt-2 mt-sm-3 d-flex">
                                    <p>Já tem uma conta?</p> &nbsp; <a href="/login">Ir para Login</a>
                                    </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>

<script src="/assets/js/jquery-3.3.1.slim.min.js"></script>
<script src="/assets/js/swiper.min.js"></script>
<script src="/assets/js/slick.min.js"></script>
<script src="/assets/js/bootstrap.js"></script>
<script type="text/javascript">
$('section.bg-client .slickSlider-box').slick({
		dots: false,
		arrows:false,
	    infinite: true,
	    speed:1000,
	    slidesToShow: 1,
	    autoplay: true,
	    centerMode:false,
	    autoplaySpeed: 3000,
	    pauseOnHover:false,
	    responsive: 
	    [
	    {
	      breakpoint: 768,
	      settings: {
	        slidesToShow: 1,
			speed: 1000,
			
	      }
	    }
	    ]
	});
</script>
<script src="/assets/js/configSwiper.js"></script>
<script src="/assets/js/bundle.js"></script>
</body>
</html>


