<%- include('includes/header') %> <%- include('includes/navbar') %>

<main role="main">
  <div class="container">
    <h2 class="mt-5" style="text-align: center"><b>TERMOS E CONDIÇÕES</b></h2>
    <p>Última atualização: 13-11-2022</p>
    <p>1. <b>Introdução</b></p>
    <p>Bem-vindo ao <b>Event Enterprise</b> Empresa nossa!</p>
    <p>
        Estes Termos de Serviços regem o uso do
        nosso site localizado em <b>evententerprise.tech</b> (juntos ou
        individualmente) operado por <b>Event Enterprise</b>.
    </p>
    <p>
        Nossa Política de Privacidade também rege o uso do nosso Serviço e explica como
        coletamos, protegemos e divulgamos informações que resultam do seu uso
        das nossas páginas web.
    </p>
    <p>
        Seu contrato conosco inclui estes Termos e nossa Política de Privacidade
        (“Acordos”). Você reconhece que leu e entendeu
        acordos, e concorda em ficar vinculado a eles.
    </p>
    <p>
        Se você não concordar com (ou não puder cumprir) os Contratos, poderá
        não usar o Serviço, mas informe-nos enviando um e-mail para
      <b>anselmoahmed@gmail.com</b> para que possamos tentar encontrar uma solução. Esses
      Os termos se aplicam a todos os visitantes, usuários e outros que desejam acessar ou usar
      Serviço.
    </p>
    <p>2. <b>Comunicações</b></p>
    <p>
        Ao usar nosso Serviço, você concorda em assinar boletins informativos, marketing ou
        materiais promocionais e outras informações que possamos enviar. No entanto, você pode
        optar por não receber qualquer, ou todas, essas comunicações de nós por
        seguindo o link de cancelamento de inscrição ou enviando um e-mail paraanselmoahmed@gmail.com.
    </p>

    <p>3. <b>Concursos, sorteios e promoções</b></p>
    <p>
        Quaisquer concursos, sorteios ou outras promoções (coletivamente, “Promoções”)
        disponibilizados através do Serviço podem ser regidos por regras que são separadas
        destes Termos de Serviço. Se você participar de alguma promoção, por favor,
        revise as regras aplicáveis, bem como nossa Política de Privacidade. Se as regras
        para um conflito da Promoção com estes Termos de Serviço, as regras da Promoção
        Aplique.
    </p>

    <p>4. <b>Content</b></p>
    <p>
      Content found on or through this Service are the property of Event
      Enterprise or used with permission. You may not distribute, modify,
      transmit, reuse, download, repost, copy, or use said Content, whether in
      whole or in part, for commercial purposes or for personal gain, without
      express advance written permission from us.
    </p>
    <p>5. <b>Usos Proibidos</b></p>
    <p>
        Você pode usar o Serviço apenas para fins legais e de acordo com os Termos.
        Você concorda em não usar o Serviço:
    </p>
    <p>
        0,1. De qualquer forma que viole qualquer lei nacional ou internacional aplicável
        ou regulamento.
    </p>
    <p>
        0,2. Com a finalidade de explorar, prejudicar ou tentar explorar ou
        prejudicar menores de qualquer forma, expondo-os a conteúdo impróprio ou
        por outro lado.
    </p>
    <p>
        0,3. Para transmitir ou providenciar o envio de qualquer publicidade ou
        material promocional, incluindo qualquer “lixo eletrônico”, “corrente”, “spam”,
        ou qualquer outra solicitação semelhante.
    </p>
    <p>
        0,4. Para personificar ou tentar personificar a Empresa, um funcionário da Empresa,
        outro usuário, ou qualquer outra pessoa ou entidade.
    </p>
    <p>
        0,5. De qualquer forma que infrinja os direitos de terceiros, ou de qualquer forma seja
        ilegal, ameaçador, fraudulento ou prejudicial, ou em conexão com qualquer
        finalidade ou atividade ilegal, ilegal, fraudulenta ou prejudicial.
    </p>
    <p>
        0,6. Envolver-se em qualquer outra conduta que restrinja ou iniba a
        uso ou gozo do Serviço, ou que, conforme determinado por nós, possa prejudicar ou
        ofender a Empresa ou os usuários do Serviço ou expô-los à responsabilidade.
    </p>
    <p>Além disso, você concorda em não:</p>
    <p>
        0,1. Usar o Serviço de qualquer maneira que possa desabilitar, sobrecarregar, danificar ou
        prejudicar o Serviço ou interferir no uso do Serviço por qualquer outra parte,
        incluindo sua capacidade de se envolver em atividades em tempo real por meio do Serviço.
    </p>
    <p>
        0,2. Usar qualquer robô, spider ou outro dispositivo, processo ou meio automático
        acessar o Serviço para qualquer finalidade, incluindo monitoramento ou cópia de qualquer
        o material no Serviço.
    </p>
    <p>
        0,3. Use qualquer processo manual para monitorar ou copiar qualquer material em
        Serviço ou para qualquer outro propósito não autorizado sem nossa autorização prévia por escrito
        consentimento.
    </p>
    <p>
        0,4. Use qualquer dispositivo, software ou rotina que interfira com o
        funcionamento do Serviço.
    </p>
    <p>
        0,5. Introduzir quaisquer vírus, cavalos de tróia, worms, bombas lógicas ou outros
        material malicioso ou tecnologicamente prejudicial.
    </p>
    <p>
        0,6. Tentar obter acesso não autorizado, interferir, danificar ou
        interromper qualquer parte do Serviço, o servidor no qual o Serviço está armazenado ou
        qualquer servidor, computador ou banco de dados conectado ao Serviço.
    </p>
    <p>
        0,7. Serviço de Ataque por meio de um ataque de negação de serviço ou um ataque distribuído
        ataque de negação de serviço.
    </p>
    <p>0,8. Tome qualquer ação que possa ou possa falsificar a classificação da Empresa.</p>
    <p>
        0,9. Caso contrário, tente interferir no funcionamento adequado do Serviço.
    </p>
    <p>6. <b>Análises</b></p>
    <p>
        Podemos usar provedores de serviços terceirizados para monitorar e analisar o uso de
        nosso serviço.
    </p>
    <p>7. <b>Não uso por menores</b></p>
    <p>
        O serviço destina-se apenas ao acesso e uso por indivíduos pelo menos
        dezoito (18) anos. Ao acessar ou usar o Serviço, você garante e
        declarar que você tem pelo menos dezoito (18) anos de idade e com a
        plena autoridade, direito e capacidade para celebrar este acordo e cumprir
        por todos os termos e condições dos Termos. Se você não é pelo menos
        dezoito (18) anos de idade, você está proibido de acessar e usar
        de serviço.
    </p>
    <p>8. <b>Contas</b></p>
    <p>
        Ao criar uma conta conosco, você garante que está acima do
        de 18 anos, e que as informações que você nos fornece são precisas, completas,
        e atual em todos os momentos. Informações imprecisas, incompletas ou obsoletas
        pode resultar no encerramento imediato de sua conta no Serviço.
    </p>
    <p>
        Você é responsável por manter a confidencialidade de sua conta
        e senha, incluindo, mas não se limitando à restrição de acesso a
        seu computador e/ou conta. Você concorda em aceitar a responsabilidade por qualquer
        e todas as atividades ou ações que ocorrem em sua conta e/ou
        senha, seja sua senha com nosso Serviço ou de terceiros
        serviço. Você deve nos notificar imediatamente ao tomar conhecimento de qualquer violação
        de segurança ou uso não autorizado de sua conta.
    </p>
    <p>
        Você não pode usar como nome de usuário o nome de outra pessoa ou entidade ou que
        não está legalmente disponível para uso, um nome ou marca comercial que esteja sujeito a
        quaisquer direitos de outra pessoa ou entidade que não você, sem
        autorização. Você não pode usar como nome de usuário qualquer nome que seja ofensivo,
        vulgar ou obsceno.
    </p>
    <p>
        Reservamo-nos o direito de recusar o serviço, encerrar contas, remover ou editar
        conteúdo ou cancelar pedidos a nosso exclusivo critério.
    </p>
    <p>9. <b>Propriedade intelectual</b></p>
    <p>
        Serviço e seu conteúdo original (excluindo Conteúdo fornecido pelos usuários),
        recursos e funcionalidades são e continuarão sendo de propriedade exclusiva da
        Event Enterprise e seus licenciadores. O serviço é protegido por direitos autorais,
        marca registrada e outras leis de países estrangeiros. Nossas marcas registradas podem não
        ser usado em conexão com qualquer produto ou serviço sem a prévia
        consentimento por escrito da Event Enterprise.
    </p>
    <p>10. <b>Política de direitos autorais</b></p>
    <p>
        Respeitamos os direitos de propriedade intelectual de terceiros. É nossa política
        responder a qualquer reclamação de que o Conteúdo postado no Serviço infringe o
        direitos autorais ou outros direitos de propriedade intelectual (“Violação”) de qualquer
        pessoa ou entidade.
    </p>
    <p>
        Se você é um proprietário de direitos autorais, ou autorizado em nome de um, e você
        acreditar que o trabalho protegido por direitos autorais foi copiado de uma forma que
        constitui violação de direitos autorais, envie sua reclamação por e-mail para
        anselmoahmed@gmail.com, com o assunto: “Violação de direitos autorais”
        e inclua na sua reclamação uma descrição detalhada do alegado
        Violação conforme detalhado abaixo, em “Aviso e Procedimento DMCA para
        Reivindicações de violação de direitos autorais”
    </p>
    <p>
        Você pode ser responsabilizado por danos (incluindo custos e custos
        honorários) por declarações falsas ou reclamações de má-fé sobre a violação de qualquer
        Conteúdo encontrado no e/ou através do Serviço sob seus direitos autorais.
    </p>
    <p>
      11. <b>Aviso DMCA e Procedimento para Reivindicações de Violação de Direitos Autorais</b>
    </p>
    <p>
        Você pode enviar uma notificação de acordo com o Digital Millennium Copyright
        Act (DMCA) fornecendo ao nosso Agente de Direitos Autorais as seguintes informações
        por escrito (ver 17 U.S.C 512(c)(3) para mais detalhes):
    </p>
    <p>
        0,1. uma assinatura eletrônica ou física da pessoa autorizada a agir
        em nome do proprietário do interesse dos direitos autorais;
    </p>
    <p>
        0,2. uma descrição do trabalho protegido por direitos autorais que você alega ter sido
        infringido, incluindo o URL (ou seja, endereço da página da web) do local
        onde existe o trabalho protegido por direitos autorais ou uma cópia do trabalho protegido por direitos autorais;
    </p>
    <p>
        0,3. identificação do URL ou outro local específico no Serviço onde
        o material que você alega estar infringindo está localizado;
    </p>
    <p>0,4. seu endereço, número de telefone, e endereço de e-mail;</p>
    <p>
        0,5. uma declaração sua de que você acredita de boa fé que o
        uso contestado não é autorizado pelo proprietário dos direitos autorais, seu agente ou o
        lei;
    </p>
    <p>
        0,6. uma declaração sua, feita sob pena de perjúrio, que o acima
        informações em seu aviso são precisas e que você é o autor
        proprietário ou autorizado a agir em nome do proprietário dos direitos autorais.
    </p>
    <p>
        Você pode entrar em contato com nosso Agente de Direitos Autorais através do e-mail anselmoahmed@gmail.com.
    </p>
    <p>12. <b>Relatório de erros e feedback</b></p>
    <p>
        Você pode nos fornecer diretamente em anselmoahmed@gmail.com ou por meio de terceiros
        sites e ferramentas de terceiros com informações e feedback sobre erros,
        sugestões de melhorias, ideias, problemas, reclamações e outros
        assuntos relacionados ao nosso Serviço (“Feedback”). Você reconhece e concorda
        que: (i) você não deve reter, adquirir ou reivindicar qualquer propriedade intelectual
        direito de propriedade ou outro direito, título ou interesse no Feedback;
        (ii) a Empresa pode ter ideias de desenvolvimento semelhantes ao Feedback; (iii)
        O feedback não contém informações confidenciais ou proprietárias
        informações suas ou de terceiros; e (iv) a Companhia não está sob nenhuma
        obrigação de confidencialidade em relação ao Feedback. No evento
        a transferência da propriedade para o Feedback não é possível devido a
        leis obrigatórias aplicáveis, você concede à Empresa e suas afiliadas um
        exclusivo, transferível, irrevogável, gratuito, sublicenciável,
        direito ilimitado e perpétuo de uso (incluindo copiar, modificar, criar
        trabalhos derivados, publicar, distribuir e comercializar) Feedback em qualquer
        forma e para qualquer fim.
    </p>
    <p>13. <b>Links para outros sites</b></p>
    <p>
        Nosso Serviço pode conter links para sites ou serviços de terceiros que
        não são de propriedade ou controlados pela Event Enterprise.
    </p>
    <p>
        A Event Enterprise não tem controle e não assume nenhuma responsabilidade por
        o conteúdo, políticas de privacidade ou práticas de quaisquer sites de terceiros
        ou serviços. Não garantimos as ofertas de qualquer um desses
        entidades/indivíduos ou seus sites.
    </p>
    <p>
        Por exemplo, o delineado
      <a href="https://policymaker.io/terms-and-conditions/">Termos de uso</a>
      foram criados usando
      <a href="https://policymaker.io/">PolicyMaker.io</a>, a free web
      application for generating high-quality legal documents. PolicyMaker’s
      <a href="https://policymaker.io/terms-and-conditions/"
        >Terms and Conditions generator</a
      >
      is an easy-to-use free tool for creating an excellent standard Terms of
      Service template for a website, blog, e-commerce store or app.
    </p>
    <p>
        VOCÊ RECONHECE E CONCORDA QUE A EMPRESA NÃO SERÁ RESPONSÁVEL,
        DIRETA OU INDIRETAMENTE, POR QUALQUER DANO OU PERDA CAUSADA OU ALEGADA
        CAUSADO POR OU EM CONEXÃO COM O USO OU CONFIANÇA DE QUALQUER CONTEÚDO,
        BENS OU SERVIÇOS DISPONÍVEIS EM OU ATRAVÉS DE QUAISQUER SITES DE TERCEIROS
        OU SERVIÇOS.
    </p>
    <p>
        DE QUAISQUER SITES OU SERVIÇOS DE TERCEIROS QUE VOCÊ VISITAR.
    </p>
    <p>14. <b>Isenção de garantia</b></p>
    <p>
        ESTES SERVIÇOS SÃO FORNECIDOS PELA EMPRESA “COMO ESTÃO” E “CONFORME DISPONÍVEL”
        BASE. A EMPRESA NÃO FAZ REPRESENTAÇÕES OU GARANTIAS DE QUALQUER TIPO, EXPRESSA
        OU IMPLÍCITO, QUANTO À OPERAÇÃO DE SEUS SERVIÇOS, OU AS INFORMAÇÕES,
        CONTEÚDO OU MATERIAIS NELE INCLUÍDOS. VOCÊ CONCORDA EXPRESSAMENTE QUE SEU USO
        DESTES SERVIÇOS, SEU CONTEÚDO E QUAISQUER SERVIÇOS OU ITENS OBTIDOS DE
        NÓS ESTAMOS POR SUA CONTA E RISCO.
    </p>
    <p>
        NEM A EMPRESA NEM QUALQUER PESSOA ASSOCIADA À EMPRESA FAZ QUALQUER GARANTIA
        OU REPRESENTAÇÃO COM RELAÇÃO À INTEGRIDADE, SEGURANÇA, CONFIABILIDADE,
        QUALIDADE, PRECISÃO OU DISPONIBILIDADE DOS SERVIÇOS. SEM LIMITAR O
        ANTERIORMENTE, NEM A EMPRESA NEM NINGUÉM ASSOCIADO AOS REPRESENTANTES DA EMPRESA
        OU GARANTE QUE OS SERVIÇOS, SEU CONTEÚDO OU QUAISQUER SERVIÇOS OU ITENS
        OBTIDO ATRAVÉS DOS SERVIÇOS SERÁ PRECISO, CONFIÁVEL, LIVRE DE ERROS OU
        SEM INTERRUPÇÕES, QUE OS DEFEITOS SERÃO CORRIGIDOS, QUE OS SERVIÇOS OU O
        O SERVIDOR QUE O DISPONIBILIZA ESTÁ LIVRE DE VÍRUS OU OUTROS NOCIVOS
        COMPONENTES OU QUE OS SERVIÇOS OU QUAISQUER SERVIÇOS OU ITENS OBTIDOS ATRAVÉS
        OS SERVIÇOS ATENDERÃO A SUAS NECESSIDADES OU EXPECTATIVAS.
    </p>
    <p>
        A EMPRESA REJEITA TODAS AS GARANTIAS DE QUALQUER TIPO, SEJA EXPRESSA OU
        IMPLÍCITA, ESTATUTÁRIA OU DE OUTRA FORMA, INCLUINDO MAS NÃO LIMITADO A QUALQUER
        GARANTIAS DE COMERCIALIZAÇÃO, NÃO INFRAÇÃO E ADEQUAÇÃO PARA
        PROPÓSITO PARTICULAR.
    </p>
    <p>
        O ANTERIOR NÃO AFETA QUAISQUER GARANTIAS QUE NÃO PODEM SER EXCLUÍDAS OU
        LIMITADO PELA LEI APLICÁVEL.
    </p>
    <p>15. <b>Limitação de responsabilidade</b></p>
    <p>
        EXCETO CONFORME PROIBIDO POR LEI, VOCÊ MANTERÁ NÓS E NOSSOS DIRETORES, DIRETORES,
        FUNCIONÁRIOS E AGENTES ISENTOS POR QUALQUER QUALQUER INDIRETO, PUNITIVO, ESPECIAL,
        DANOS INCIDENTAIS OU CONSEQUENCIAIS, INDEPENDENTEMENTE DE QUE SURGIR (INCLUINDO
        HONORÁRIOS DE ADVOGADOS E TODOS OS CUSTOS E DESPESAS RELACIONADOS COM LITÍGIOS E
        ARBITRAGEM, OU EM JULGAMENTO OU RECURSO, SE HOUVER, SEJA OU NÃO LITÍGIO
        OU ARBITRAGEM É INSTITUÍDA), SEJA EM UMA AÇÃO DE CONTRATO,
        NEGLIGÊNCIA, OU OUTRA AÇÃO ILÍCITA, OU DECORRENTE DE OU EM CONEXÃO
        COM ESTE CONTRATO, INCLUINDO, SEM LIMITAÇÃO, QUALQUER REIVINDICAÇÃO DE
        LESÕES OU DANOS DE PROPRIEDADE, DECORRENTES DESTE CONTRATO E QUALQUER VIOLAÇÃO
        POR VOCÊ DE QUAISQUER LEIS FEDERAIS, ESTADUAIS OU LOCAIS, ESTATUTOS, REGRAS OU
        REGULAMENTOS, MESMO QUE A EMPRESA TENHA SIDO AVISADA PREVIAMENTE DO
        POSSIBILIDADE DE TAIS DANOS. EXCETO CONFORME PROIBIDO POR LEI, SE HOUVER
        RESPONSABILIDADE ENCONTRADA POR PARTE DA EMPRESA, ESTARÁ LIMITADA AO VALOR
        PAGO PELOS PRODUTOS E/OU SERVIÇOS E EM NENHUMA CIRCUNSTÂNCIA
        HÁ DANOS CONSEQUENCIAIS OU PUNITIVOS. ALGUNS ESTADOS NÃO PERMITEM O
        EXCLUSÃO OU LIMITAÇÃO DE DANOS PUNITIVOS, INCIDENTAIS OU CONSEQUENTES,
        ASSIM, A LIMITAÇÃO OU EXCLUSÃO ANTERIOR PODE NÃO SE APLICAR A VOCÊ.
    </p>
    <p>16. <b>Terminação</b></p>
    <p>
        Podemos encerrar ou suspender sua conta e barrar o acesso ao Serviço
        imediatamente, sem aviso prévio ou responsabilidade, a nosso exclusivo critério,
        por qualquer motivo e sem limitação, incluindo, mas não
        limitado a uma violação dos Termos.
    </p>
    <p>
        Se você deseja encerrar sua conta, você pode simplesmente descontinuar o uso
        Serviço.
    </p>
    <p>
        Todas as disposições dos Termos que, por sua natureza, devem sobreviver à rescisão
        sobreviverá à rescisão, incluindo, sem limitação, propriedade
        disposições, isenções de garantia, indenização e limitações de responsabilidade.
    </p>
    <p>17. <b>Lei Aplicável</b></p>
    <p>
        Estes Termos serão regidos e interpretados de acordo com as leis de
        Moçambique, cuja lei aplicável se aplica ao acordo independentemente da sua
        conflito de disposições legais.
    </p>
    <p>
        Nossa falha em fazer valer qualquer direito ou disposição destes Termos não será
        considerado uma renúncia a esses direitos. Se qualquer disposição destes Termos for
        consideradas inválidas ou inexequíveis por um tribunal, as restantes disposições
        destes Termos permanecerá em vigor. Estes Termos constituem a totalidade
        acordo entre nós em relação ao nosso Serviço e substituir e substituir qualquer
        acordos anteriores que possamos ter entre nós em relação ao Serviço.
    </p>
    <p>18. <b>Alterações no serviço</b></p>
    <p>
        Reservamo-nos o direito de retirar ou alterar nosso Serviço, e qualquer serviço ou
        material que fornecemos via Serviço, a nosso exclusivo critério, sem aviso prévio. Nós
        não será responsável se, por qualquer motivo, todo ou parte do Serviço for
        indisponível a qualquer momento ou por qualquer período. De vez em quando, podemos
        restringir o acesso a algumas partes do Serviço, ou a todo o Serviço, aos usuários,
        incluindo usuários registrados.
    </p>
    <p>19. <b>Alterações aos Termos</b></p>
    <p>
        Podemos alterar os Termos a qualquer momento publicando os termos alterados neste site.
        É sua responsabilidade revisar estes Termos periodicamente.
    </p>
    <p>
        Seu uso continuado da Plataforma após a publicação dos Termos revisados
        significa que você aceita e concorda com as alterações. Espera-se que você verifique
        esta página com frequência para que você esteja ciente de quaisquer alterações, pois elas são vinculativas
        em você.
    </p>
    <p>
        Ao continuar a acessar ou usar nosso Serviço após quaisquer revisões se tornarem
        em vigor, você concorda em ficar vinculado aos termos revisados. Se você não concorda
        aos novos termos, você não está mais autorizado a usar o Serviço.
    </p>
    <p>20. <b>Renúncia e Separabilidade</b></p>
    <p>
        Nenhuma renúncia por parte da Empresa de qualquer termo ou condição estabelecida nos Termos será
        considerada uma renúncia adicional ou contínua de tal termo ou condição ou uma
        renúncia de qualquer outro termo ou condição, e qualquer falha da Empresa em
        reivindicar um direito ou disposição sob os Termos não constituirá uma renúncia de
        tal direito ou disposição.
    </p>
    <p>
        Se qualquer disposição dos Termos for mantida por um tribunal ou outro tribunal de
        jurisdição competente seja inválida, ilegal ou inexequível para qualquer
        razão, tal disposição será eliminada ou limitada ao mínimo
        medida de tal forma que as restantes disposições dos Termos continuarão na íntegra
        força e efeito.
    </p>
    <p>21. <b>Reconhecimento</b></p>
    <p>
      BY USING SERVICE OR OTHER SERVICES PROVIDED BY US, YOU ACKNOWLEDGE THAT
      YOU HAVE READ THESE TERMS OF SERVICE AND AGREE TO BE BOUND BY THEM.
    </p>
    <p>22. <b>Contate-nos</b></p>
    <p>
        Envie seus comentários, solicitações de suporte técnico por
        o email: <b>anselmoahmed@gmail.com</b>.
    </p>
    <p style="margin-top: 5em; font-size: 0.7em">
      These
      <a href="https://policymaker.io/terms-and-conditions/"
        >Terms of Service</a
      >
      were created for <b>evententerprise.tech</b> by
      <a href="https://policymaker.io">PolicyMaker.io</a> on 2022-11-13.
    </p>
  </div>
</main>
<%- include('includes/sectionInfo') %> <%- include('includes/footer') %>
